<div id="templatemo_main">
	<div id="templatemo_content">
		<div id="bank_transfer_form">
			<h4>Disclaimer</h4>
			<%= render "disclaimer" %>

			<h4>Order Details</h4>
			
			<% if  @bank_transfer_details.errors.any? %>
				<ul class="validation-error">
					<% @bank_transfer_details.errors.full_messages.each do |message| %>
						<li>
							<%= message %>
						</li>
					<% end %>
				</ul>
			<% end %>
			
			<p><%=flash[:notice]%></p>
			<% form_for @bank_transfer_details, :as => :bank_transfer_details, :url => {:action=>:bank_transfer} do |f| %>
                <div class="cleaner_h10"></div>
					<%= f.label :name %>
					<%= f.text_field :name, {:class=>:input_field} %>
                <div class="cleaner_h10"></div>
					<%= f.label :address %>
					<%= f.text_field :address, {:class=>:input_field} %>
                <div class="cleaner_h10"></div>
					<%= f.label :phone %>
					<%= f.text_field :phone, {:class=>:input_field} %>
                <div class="cleaner_h10"></div>
					<%= f.label :email %>
					<%= f.text_field :email, {:class=>:input_field} %>
                <div class="cleaner_h10"></div>
					<%= f.label :instructions %>
					<%= f.text_area :instructions, {:class=>:input_field} %>
                <div class="cleaner_h10"></div>
                    <%= f.submit "Submit", {:class=>:submit_btn} %>
                    <%= f.submit "Reset", {:class=>:submit_btn,:type=>:reset} %>
			<% end %>
		</div>
	</div>

    <div id="templatemo_sidebar">
		</div>
		<div class="cleaner"></div>
</div>

