<div class="sidebar_title cart">
   	Your Cart
</div>
<div id="cart" class="sidebar_box">
    <%if not cart.empty?%>
      <ul class='templatemo_list'>
        <%cart.cartitems.each {|c| %>
          <li>
            <%=c.product.name %>
            <%="#{c.amount}x#{currency(c.product.final_price)}"%>
            <%# =link_to :remove, :action=>:delete, :id=>c.product_id%>
          </li>
        <%}%>
      </ul>
      <%#= link_to "clear", :action => :clear %>
      <strong>subtotal: </strong><%= currency(cart.sub_total) %>
      <div>
        <%= form_tag({:action => :edit},{:method=>:get,:style=>"float:right;"}) do %>
           <%= submit_tag("checkout", {:class=>:submit_btn,:name=>nil})%>
        <% end %>
      </div>
    <%else%>
      <div class='empty'>Cart is empty</div>
    <%end%>

    <!--paypal logo -->
    <a href="#" onclick="javascript:window.open('https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_US/Marketing/i/banner/bnr_prefer_120x30_y.gif" border="0" alt="Additional Options"></a>
    <!--- logo ends here -->
</div>

