<div class="sidebar_title cart">
   	Your Cart
</div>
<div id="cart" class="sidebar_box">
    <%if not cart.empty?%>
      <ul class='templatemo_list'>
        <%cart.cartitems.each {|c| %>
          <li>
            <%=c.product.name %>
            <%="#{c.amount}x#{currency(c.product.final_price)}"%>
            <%# =link_to :remove, :action=>:delete, :id=>c.product_id%>
          </li>
        <%}%>
      </ul>
      <%#= link_to "clear", :action => :clear %>
      <strong>subtotal: </strong><%= currency(cart.sub_total) %>
      <div>
        <%= link_to "edit cart", {:action => :edit} %>
        <%= link_to "checkout", {:controller => :checkout}, {:class=>:checkout} %>
      </div>
    <%else%>
      <div class='empty'>Cart is empty</div>
    <%end%>
</div>

