<div id="templatemo_main">
	<div id="templatemo_content">
    <div id="cart_editor">
      <h1>Your cart</h1>
      <%= form_tag do %>
        <ul class='alternate'>
          <%= hidden_field_tag :order_id, @cart.id %>
          <% @cart.cartitems.each { |c| %>
            <li>
              <%=image_tag c.product.photo.url(:thumb) %>
              <%= link_to c.product.name, :action=>:product, :id=>c.product.id %>
              <%= currency c.product.final_price %>
              <%= select_tag "amounts[#{c.product_id}]", options_for_select((1..50).to_a, c.amount) %>
              <%= link_to  "", {:action=>:delete, :id=>c.product_id}, {:class=>:delete, :title=>"Delete from cart"} %>
             </li>
          <% } %>
        </ul>
        <div class='submit'>
          <span>Shipping cost: <%=currency @order.shipping_cost %>
            <small><%=@cart.free_shipping? ? nil : " *order for #{currency @setting.free_shipping_threshold} or more to qualify for free shipping"%></small>
          </span><br />
          <%= image_submit_tag "http://goo.gl/Vleii"%>
          <%= submit_tag "Save and Continue", {:class => :submit_btn}%>
          <span><span style="font-weight:bold">Total: </span><%= currency @cart.total %></span>
          <%= link_to "Back to shopping", {:action => :index}, {:style=>'display:block;'} %>
        </div>
      <% end if not @cart.empty?%>
    </div>
	</div>

  <div id="templatemo_sidebar">
        <%= render 'search', :search => @search %>
        <div class="cleaner_h20"></div>
        <%=render 'categories', :categories => @categories %>
        <div class="cleaner_h20"></div>
        <%=render 'popular', :popular => @popular %>
        <div class="sidebar_box"></div>
    </div>
  <div class="cleaner"></div>
</div>

