<div id="templatemo_main">
	<div id="templatemo_content">
    <div id="cart_editor">
      <h1>Your cart</h1>
      <%= form_tag do %>
        <ul class='alternate'>
          <%= hidden_field_tag :order_id, @cart.id %>
          <% @cart.cartitems.each { |c| %>
            <li>
              <%=image_tag c.product.photo.url(:thumb) %>
              <%= c.product.name %>
              <%= currency c.product.final_price %>
              <%= select_tag "amounts[#{c.product_id}]", options_for_select((1..50).to_a, c.amount) %>
              <%= link_to  "", {:action=>:delete, :id=>c.product_id}, {:class=>:delete, :title=>"Delete from cart"} %>
             </li>
          <% } %>
        </ul>
        <div class='submit'>
          <%= submit_tag "Save and Checkout"%>
          <span><span style="font-weight:bold">Subtotal: </span><%= currency @cart.sub_total %></span>
          <%= link_to "Back to shopping", {:action => :index}, {:style=>'display:block;'} %>
        </div>
      <% end %>
    </div>
	</div>

  <div id="templatemo_sidebar">
        <%#= render 'cart', :cart => @cart %>
        <!-- div class="cleaner_h20"></div -->
        <%=render 'categories', :categories => @categories %>
        <div class="cleaner_h20"></div>
        <%=render 'popular', :popular => @popular %>
        <div class="sidebar_box"></div>
  </div>
  <div class="cleaner"></div>
</div>

