<div id="templatemo_main">
	<div id="templatemo_content">
      <%= render 'breadcrumb', :category => @product.category %>

      <div class='product_detail'>
	      <div class='product_detail_images'>
		      <%=image_tag @product.photo.url(:big) %>
		      <div class='thumbnails'>
			      <ul>
				      <% @product.photos.each {|p| %>
				        <%= content_tag :li, image_tag(p.photo.url(:thumb))%>
				      <% } %>
			      </ul>
		      </div>
		      <%= render 'social'%>
	      </div>
	      <div class='product_decsription'>
		      <h1><%=@product.name%></h1>
		      <h3>
		        <%= content_tag :span, currency(@product.price), {:class=>:old_price} if @product.discount?%>
            <%= content_tag :span, currency(@product.final_price), {:class=>:price}%>
		      </h3>
		      <%= form_tag :action=>:add,:id=>@product.id do %>
             <%= select_tag :amount, options_for_select((1..50).to_a) %>
             <%= submit_tag("add to cart") %>
          <% end %>
		      <p><%=@product.short_description%></p>
		      <p><%=@product.long_description%></p>
	      </div>
      </div>
      <%#= render 'shared/disqus' %>
  </div>

  <div id="templatemo_sidebar">
        <%= render 'cart', :cart => @cart %>
        <div class="cleaner_h20"></div>
        <%= render 'search', :search => @search %>
        <div class="cleaner_h20"></div>
        <%=render 'categories', :categories => @categories %>
        <div class="cleaner_h20"></div>
        <%=render 'popular', :popular => @popular %>
        <div class="sidebar_box"></div>
  </div>
  <div class="cleaner"></div>
</div>

