<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sasisco Store</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_tag "site.css", "fancy.css" %>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
</head>

<body>

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    <div id="site_title">
            <h1><a href="/" title='SaSisCo'>
                  <span style='color:yellow;'>Sa</span><span style='color:#70a7fa;'>sis</span><span style='color:SpringGreen;'>Co</span>
                </a>
            </h1>
            <span class='slogan'>bargain store</span>
        </div> <!-- end of site_title -->
    </div>
</div>

<%= render "shared/menu", :menu_item => @menu_item %>

<%= yield %>

<div id="templatemo_main_bottom"></div>

<div id="templatemo_footer">

    Copyright © <%= Time.new.year %> SasisCo |
    <%= link_to "Shipping", {:controller=>:contact,:action => :shipping }%> |
    <%= link_to "Terms & Conditions", {:controller=>:contact,:action => :terms }%> |
    Web Development by
    <a href='http://www.darkruby.co.uk'>
      <span class='darkruby' style='background:#111;color:grey;text-decoration:none;'>&lt;%<span style='color:#fff'>Dark</span><span style='color:red;'>Ruby</span>%&gt;</span>
    </a>

</div> <!-- end of templatemo_footer -->

</body>
</html>

